<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
<title>InvenTrack - 更新</title>
</head>

<body>
	<div class="card shadow mb-4">

		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">在庫センター情報 更新/削除</h6>
		</div>

		<!-- 更新フォーム -->

		<div class="d-flex justify-content-center align-items-center">
			<div class="card shadow-lg" style="width: 70%; max-width: 800px">
				<div class="card-body py-2">
					<form class="small" method="post"
						th:action="@{'/admin/centerInfo/update'}"
						th:each="center : ${centerInfoList}">

						<!-- 在庫センターID -->
						<input type="hidden" class="form-control form-control-sm"
							id="centerId" name="centerId" th:value="${center.centerId}" />
						<!-- 作成日 -->
						<input type="hidden" class="form-control form-control-sm"
							id="deleteFlag" name="deleteFlag" th:value="${center.deleteFlag}" />

						<div class="mb-2" id="custum-form">
							<label for="centerName" class="form-label"><span
								class="text-danger">*</span> 必須項目</label>
							<!-- エラーメッセージの表示 -->
							<div th:if="${errorMsg != null}" class="text-danger">
								<p th:text="${errorMsg}"></p>
							</div>
						</div>

						<!-- 在庫センター名 -->
						<div class="mb-2" id="custum-form">
							<label for="centerName" class="form-label">在庫センター名<span
								class="text-danger">*</span></label> <input type="text"
								class="form-control form-control-sm" id="centerName"
								name="centerName" placeholder="○○物流センター"
								th:value="${center.centerName}" required />
						</div>

						<!-- 郵便番号 -->
						<div class="mb-2" id="custum-form">
							<label for="postCode" class="form-label">郵便番号<span
								class="text-danger">*</span></label> <input type="text"
								class="form-control form-control-sm" id="postCode"
								name="postCode" placeholder="000-0000"
								th:value="${center.postCode}" required />
						</div>

						<!-- 住所 -->
						<div class="mb-2" id="custum-form">
							<label for="address" class="form-label">住所<span
								class="text-danger">*</span></label> <input type="text"
								class="form-control form-control-sm" id="address" name="address"
								placeholder="〇県〇市" th:value="${center.address}" required />
						</div>

						<!-- 電話番号 -->
						<div class="mb-2" id="custum-form">
							<label for="phoneNumber" class="form-label">電話番号<span
								class="text-danger">*</span></label> <input type="text"
								class="form-control form-control-sm" id="phoneNumber"
								name="phoneNumber" placeholder="000-0000-0000"
								th:value="${center.phoneNumber}" required />
						</div>

						<!-- 管理者名 -->
						<div class="mb-2" id="custum-form">
							<label for="managerName" class="form-label">管理者名<span
								class="text-danger">*</span></label> <input type="text"
								class="form-control form-control-sm" id="managerName"
								name="managerName" placeholder="田中太郎"
								th:value="${center.managerName}" required />
						</div>

						<!-- 稼働状況ステータス -->
						<div class="mb-2" id="custum-form">
							<label class="form-label">稼働状況ステータス<span
								class="text-danger">*</span></label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" value="0"
									id="operationalStatusActive" name="operationalStatus" required
									th:attr="checked=${center.operationalStatus == 0}" /> <label
									class="form-check-label" for="operationalStatusActive">稼働中</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" value="1"
									id="operationalStatusInactive" name="operationalStatus"
									required th:attr="checked=${center.operationalStatus == 1}" />
								<label class="form-check-label" for="operationalStatusInactive">稼働停止</label>
							</div>
						</div>

						<!-- 最大保管容量 -->
						<div class="mb-2" id="custum-form">
							<label for="maxStorageCapacity" class="form-label">最大保管容量（m³）<span
								class="text-danger">*</span></label> <input type="number"
								class="form-control form-control-sm" id="maxStorageCapacity"
								name="maxStorageCapacity" placeholder="500"
								th:value="${center.maxStorageCapacity}" required />
						</div>

						<!-- 現在保管容量 -->
						<div class="mb-2" id="custum-form">
							<label for="currentStorageCapacity" class="form-label">現在保管容量（m³）<span
								class="text-danger">*</span></label> <input type="number"
								class="form-control form-control-sm" id="currentStorageCapacity"
								name="currentStorageCapacity" placeholder="250"
								th:value="${center.currentStorageCapacity}" required />
						</div>

						<!-- 備考 -->
						<div class="mb-2" id="custum-form">
							<label for="notes" class="form-label">備考</label>
							<textarea class="form-control form-control-sm" id="notes"
								name="notes" rows="2" th:value="${center.notes}"></textarea>
						</div>

						<!-- 「＊」必須項目の説明 -->
						<div class="mb-2" id="custum-form">
							<span class="text-danger">*</span><span>の付いている項目は必須入力です。</span>
						</div>


						<!-- ボタン -->
						<div class="d-flex justify-content-between">
							<a href="/admin/centerInfo" class="btn btn-secondary btn-sm">キャンセル</a>
							<div>
								<a
									th:href="@{/admin/centerInfo/delete/{centerId}(centerId=${center.centerId})}"
									class="btn btn-primary btn-sm">削除する</a>
								<button type="submit" class="btn btn-success btn-sm">
									更新する</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
